{% extends "base.html" %}
{% block content %}

    <section>
        <h3 class="center-align">Add Term</h3>



        <div class="row card-panel">
            <form class="col s12" method="POST" action="{{ url_for('add_term') }}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-heading prefix"></i>
                        <input id="title" name="title" type="text"
                        minlength="2" maxlength="20" class="validate" required>
                        <label for="title">Term Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-comment-alt prefix"></i>
                        <textarea id="description" name="description" placeholder="Term Description" type="text"
                        minlength="10" maxlength="250" class="materialize-textarea validate" required></textarea>
                        <label for="description">
                            
                        </label>
                    </div>
                </div>
                <!-- submit new term -->
                <div class="row center-align">
                    <div class="col s6 center-align">
                        <!-- Button to add term to database -->
                        <button type="submit" class="btn send-btn">
                            Add Term <i class="fas fa-plus-square prefix center-align"></i>
                        </button>
                    </div>
                    <div class="col s6 center-align">
                        <!-- Button to cancel adding term -->
                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn send-btn">
                            Cancel <i class="fas fa-window-close prefix center-align"></i>
                        </a>
                    </div>

                </div>

            </form>
        </div>
    </section>





{% endblock %}