<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title class="title">The MMO Tavern</title>
</head>
<body>
    
    <header>
        <!-- Nav bar -->
        <nav class="nav-extended  brown darken-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_terms') }}" class="brand-logo">MMO Tavern</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_terms') }}">Home</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="collapsible.html">Add New Term</a></li>
                    <li><a href="mobile.html">Manage Terms</a></li>
                    <li><a href="mobile.html">Log Out</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>               
                    <li><a href="{{ url_for('register') }}">Register</a></li>               
                    <li><a href="mobile.html">Contact Us</a></li>                    
                </ul>
            </div>
        </nav>
            <!--- Mobile Navigation -->
        <ul class="sidenav brown darken-4 white-text" id="mobile-demo">
            <li><h4 class="center align">MMO Tavern</h4></li>
            <li><a href="{{ url_for('get_terms') }}">Home</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="collapsible.html">Add New Term</a></li>
            <li><a href="mobile.html">Manage Terms</a></li>
            <li><a href="mobile.html">Log Out</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>               
            <li><a href="{{ url_for('register') }}">Register</a></li>               
            <li><a href="mobile.html">Contact Us</a></li>                    
        </ul>
    </header>

    <section>
        <!-- flash messages appear here -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="brown darken-3 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>
    
    <footer class="page-footer text-shadow  brown darken-3 ">
        <div class="footer-copyright ">
            <div class="container footer-elements valign-wrappe">
                <div class="row row-footer">
                    <div class="s12 center-align">
                        <div class="social">
                            <a href="https://www.linkedin.com/in/brad-jones-777a99203/"><i
                                    class="fab fa-linkedin fa-3x footer-icons "></i></a>
                            <a href="https://github.com/BradJones-3"><i class="fab fa-github fa-3x footer-icons "></i></a>
                            <a href="/contact_us"><i class="fas fa-envelope-square fa-3x footer-icons "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>