{% extends "base.html" %}
{% block content %}

<h3 class="center-align brown darken-3">Get In Touch!</h3>

<div class="row contact-form">
    <form class="col s12 m8 offset-m2" action="/form" method="POST">
        <!-- Users Name -->
        <div class="row">
            <div class="input-field col s12 center-align">
                <i class="fas fa-user prefix"></i>
                <input name="name" id="name" type="text" class="validate" required>
                <label for="name">Your Name</label>
            </div>
        </div>

        <!-- Users Email Address -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-envelope prefix"></i>
                <input name="email_address" id="email_address" type="email" class="validate" required>
                <label for="email_address">Email Address</label>
            </div>
        </div>

        <!-- Users Message -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-comment-dots prefix"></i>
                <input name="user_message" id="user_message" type="text" class="materialize-textarea" required></input>
                <label for="user_message">Enter Your Message Here</label>
            </div>
        </div>

        <!-- Send Button -->
        <div class="col s12 center-align">
            <button type="submit" value="Submit" name="submit" class="send-btn btn waves-effect waves contact-btn">
                <i class="fas fa-share prefix center-align"> Send</i>
            </button>
        </div>
    </form>
</div>



{% endblock %}