{% extends "base.html" %}
{% block content %}

    <h3 class="center-align brown darken-3">Edit Term</h3>


    {% for term in terms %}
        <div>
            <strong>{{ term.term_title }}</strong>
        </div>
        <div>
            <strong>{{ term.term_description }}</strong>
        </div>
        <div class="col s6">
            <a href="" class="btn send-btn"> Confirm Changes</a>
            <a href="" class="btn send-btn"> Cancel</a>
        </div>
    
    
    
    
    {% endfor %}




{% endblock %}