{% extends "base.html" %}
{% block content %}

    <h3 class="h3 center-align">Log In</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                    <!-- span to show the user any errors in username -->
                    <span class="helper-text" data-error="Username too short" data-success="">Username must be a minimum of 5 characters</span>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-unlock-alt prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    <!-- span to show the user any errors in username -->
                    <span class="helper-text" data-error="Password is too short" data-success="">Password is too short</span>
                </div>
            </div>
            <!-- register user -->
            <div class="row">
                <button type="submit" class="col s12 btn-large brown darken-3">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="center-align brown-text darken-3">
                        Not Registered?<a href="{{ url_for('register') }}"> Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}