{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Users Welcome -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel brown darken-4">
                <h3 class="center-align brown darken-4">
                    {{ username }}'s Profile
                </h3>
                <!-- shows the user how many terms they have created -->
                <h4 class="center-align">
                    {{ username|capitalize }} you have added {{ user_number_of_terms }} terms.
                </h4>
            </div>
        </div>
    </div>

    <div class="row">
        {% for term in terms %}
            {% if session.user|lower == term.author|lower or session.user|lower == "admin" %}
            <div class="col s12 offset">
                <div class="card-panel center-align brown darken-4">
                    <!-- displays the terms tile the user has added -->
                    <div><h4 class="center-align">{{ term.title }}</h4></div>
                    <!-- displays the terms description the user has added -->
                    <div><span>Description</span>
                        {{ term.description }}</div>
                        <!-- displays the accounts name as author  -->
                    <div><span>Author:</span>
                        {{ term.author }}</div>
                        <div class="center-align">
                            <a href="{{ url_for('add_term') }}" class="send-btn btn-small waves-effect waves">
                                <i class="fas fa-plus-square prefix center-align"> Add Term </i>
                            </a>
                            <a href="{{ url_for('edit_term', term_id=term._id) }}" class="send-btn btn-small waves-effect waves">
                                <i class="fas fa-edit prefix center-align"> Edit Term </i>
                            </a>
                            <!-- Delete Term -->
                            <!-- Modal Trigger -->
                            <a href="#delete-modal" class="send-btn btn-small waves-effect waves">
                                <i class="fas fa-trash-alt prefix center-align"> Delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
              <div id="delete-modal" class="modal">
                  <div class="modal-content">
                      <h4>Are you sure you want to delete this term?</h4>
                      <p>This action is final and can not be reversed</p>
                  </div>
                  <div class="modal-footer">
                      <a href="{{ url_for('delete_term', term_id=term._id) }}"
                          class="modal-close waves-effect waves btn send-btn">Agree</a>
                        <button class="modal-close waves-effects waves send-btn">Cancel</button>
                  </div>
              </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Modal Structure -->

{% endblock %}